<div class="container">
	<div class="box">
		<div class="head-box">
			<h4>"Powered by BasCommerce" link</h4>
		</div>
		<div class="detail-box">
			<p>Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click <a href="">here</a> for more info.</p>
		</div>
	</div>
	<div class="box">
		<div class="head-box">
			<h4>Premium support services</h4>
		</div>
		<div class="detail-box">
			<p>Get dedicated support from the nopCommerce team with a guaranteed response within 24 hours. Click <a href="">here</a> for more info.</p>
		</div>
	</div>
	<div class="box">
		<div class="head-box">
			<h4>Recommended hosting for your store</h4>
		</div>
		<div class="detail-box">
			<p>Everleap cloud hosting seamlessly scales sites with ease and they move stores for free. <a href="">Learn more</a> and get a 30 day free trial.</p>
		</div>
	</div>
</div>