.main-footer {
	font-family: 'Source Sans Pro', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
}
.main-footer h4 {
	margin: 15px 15px;
	font-family: 'Source Sans Pro', sans-serif;
}
.left-main-footer {
	color: #869099;
}
.left-main-footer a {
	text-decoration: none;
	color:#3C8DBC
}
.center-main-footer {
	text-align: center;
	color: #869099;
}
.right-main-footer {
	text-align: right;
	font-weight: 900;
	color: #869099;
}
