<section class="product-header-container">
	<div class="product-header">
		<div class="product-header-name">
			<h2>Edit product details - {{ product.pName }}</h2>
			<p><a routerLink="/products"><i class="las la-arrow-circle-left"></i> back to product list</a>
			</p>
		</div>
		<div class="product-header-button">
			<button mat-flat-button class="save-btn">
				<mat-icon>save_alt</mat-icon><span>Save</span>
			</button>
			<button mat-flat-button class="save-edit-btn">
				<mat-icon>save_alt</mat-icon><span>Save and Continue Edit</span>
			</button>
			<button mat-flat-button class="copy-btn">
				<mat-icon>library_add</mat-icon><span>Copy product</span>
			</button>
			<button mat-flat-button class="delete-btn">
				<mat-icon>delete_forever</mat-icon><span>Delete</span>
			</button>
		</div>
		<div class="product-header-option">
			<button mat-flat-button (click)="isChange()" class="basic-advanced"
				[class.basic-page-btn]="!isAdvanced">
				{{isAdvanced ? 'Advanced ▶︎' : '◀︎ Basic'}}
			</button>
			<button mat-flat-button class="setting-btn">
				<mat-icon>settings</mat-icon><span>Settings</span>
			</button>
		</div>
	</div>
</section>

<section class="productInfo-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-info"></i></div>
			<mat-card-title>Product info</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="product-info">

				<label>Product name<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<input matInput value="{{product.pName}}">
				</mat-form-field>

				<label>Short description<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<textarea matInput value="{{product.shortDescription}}"></textarea>
				</mat-form-field>

				<label>Full description<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<textarea matInput value="{{product.fullDescription}}"
						[matTextareaAutosize]="true"></textarea>
				</mat-form-field>

				<label>SKU<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<input matInput value="{{product.sku}}">
				</mat-form-field>

				<label>Categories<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field>
					<mat-chip-list>
						<mat-chip>{{product.categories}}</mat-chip>
					</mat-chip-list>
				</mat-form-field>

				<label *ngIf="isAdvanced">Manufacturers<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<input matInput value="{{product.manufacturer}}">
				</mat-form-field>

				<label *ngIf="isAdvanced">Published<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='product.published' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Product tags<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field *ngIf="isAdvanced">
					<mat-chip-list>
						<mat-chip *ngFor="let tag of product.pTag">
							{{tag}}
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>

				<label *ngIf="isAdvanced">GTIN (global trade item number)<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<input matInput>
				</mat-form-field>

				<label *ngIf="isAdvanced">Manufacturer part number<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<input matInput>
				</mat-form-field>

				<label *ngIf="isAdvanced">Show on home page<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Display order<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced" class='number-input'>
					<input matInput type="number" min="0" value="0">
				</mat-form-field>

				<label *ngIf="isAdvanced">Product type<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<mat-select [value]="product.pType">
						<mat-option>Simple</mat-option>
						<mat-option>Grouped (product with variants)</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced">Product template<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<mat-select value="Simple product">
						<mat-option>Simple product</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced">Visible individually<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Vendor<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<mat-select>
						<mat-option>No vendor</mat-option>
						<mat-option>Vendor 1</mat-option>
						<mat-option>Vendor 2</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced">Require other products<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Allow customer reviews<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Available date range<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class="example-form-field" *ngIf="isAdvanced">
					<mat-label>Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="rangePicker">
						<input matStartDate placeholder="Start date">
						<input matEndDate placeholder="End date">
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
					<mat-date-range-picker #rangePicker>
						<mat-date-range-picker-actions>
							<button mat-button matDateRangePickerCancel>Cancel</button>
							<button mat-raised-button color="primary"
								matDateRangePickerApply>Apply</button>
						</mat-date-range-picker-actions>
					</mat-date-range-picker>
				</mat-form-field>

				<label *ngIf="isAdvanced">Mask as new<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Mask as new: date range<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class="example-form-field" *ngIf="isAdvanced">
					<mat-label>Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="rangePicker">
						<input matStartDate placeholder="Start date">
						<input matEndDate placeholder="End date">
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
					<mat-date-range-picker #rangePicker>
						<mat-date-range-picker-actions>
							<button mat-button matDateRangePickerCancel>Cancel</button>
							<button mat-raised-button color="primary"
								matDateRangePickerApply>Apply</button>
						</mat-date-range-picker-actions>
					</mat-date-range-picker>
				</mat-form-field>

				<label *ngIf="isAdvanced">Admin comment<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<textarea matInput [matTextareaAutosize]="true" rows="5"></textarea>
				</mat-form-field>

			</div>
		</mat-card-content>
	</mat-card>
</section>

<section class="productInfo-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-dollar-sign"></i></div>
			<mat-card-title>Prices</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="prices-info">

				<label>Price<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input'>
					<input matInput type="number" min="0" [value]="product.price">
					<span matSuffix>USD</span>
				</mat-form-field>

				<label *ngIf="isAdvanced">Old price<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced" class='number-input'>
					<input matInput type="number" min="0" value="0">
					<span matSuffix>USD</span>
				</mat-form-field>

				<label *ngIf="isAdvanced">Product cost<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced" class='number-input'>
					<input matInput type="number" min="0" value="0">
					<span matSuffix>USD</span>
				</mat-form-field>

				<label *ngIf="isAdvanced">Disable buy button<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Disable wishlist button<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Available for pre-order<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Call for price<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Customer enters price<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">PAngV (base price) enabled<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Discounts<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<input type="text" matInput [matAutocomplete]="auto">
					<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
						<mat-option [value]='discount'>
							{{ discount }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<label>Tax exempt<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor'>
				</mat-checkbox>

				<label>Tax category<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<mat-select>
						<mat-option *ngFor="let item of TaxCategory" [value]="item">
							{{ item }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced">Telecommunications, broadcasting and electronic services<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

			</div>
			<mat-card class="card-inside">
				<mat-card-header>
					<mat-card-title>Tier prices</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="text-content">
						<p>
							Tier pricing is a promotional tool that allows a store owner to
							price items differently for higher quantities.
						</p>
					</div>
					<div class="table-content">
						<table>
							<tr>
								<th>Store</th>
								<th>Customer role</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Start date</th>
								<th>End date</th>
							</tr>
							<tr>
								<td colspan="6">No data available in table</td>
							</tr>
						</table>
					</div>
					<mat-paginator [length]="100" [pageSize]="10"
						[pageSizeOptions]="[5, 10, 25, 100]">
					</mat-paginator>
				</mat-card-content>
				<mat-card-actions class='price-action'>
					<button mat-flat-button class="save-btn">Add new tier price</button>
				</mat-card-actions>
			</mat-card>
		</mat-card-content>
	</mat-card>
</section>

<section class="productInfo-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-shipping-fast"></i></div>
			<mat-card-title>Shipping</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="product-info">
				<label>Shipping enabled<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor'>
				</mat-checkbox>

				<label>Weight<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input'>
					<input matInput type="number" min="0" value="{{product.weight}}">
					<span matSuffix>lb(s)</span>
				</mat-form-field>

				<label>Length<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input'>
					<input matInput type="number" min="0" value="{{product.length}}">
					<span matSuffix>inch(es)</span>
				</mat-form-field>

				<label>Width<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input'>
					<input matInput type="number" min="0" value="{{product.width}}">
					<span matSuffix>inch(es)</span>
				</mat-form-field>

				<label>Height<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input'>
					<input matInput type="number" min="0" value="{{product.height}}">
					<span matSuffix>inch(es)</span>
				</mat-form-field>

				<label *ngIf="isAdvanced">Free shipping<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Ship separately<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Additional shipping charge<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="isAdvanced">
					<input matInput type="number" min="0" value="0">
					<span matSuffix>USD</span>
				</mat-form-field>

				<label *ngIf="isAdvanced">Delivery date<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<mat-select>
						<mat-option *ngFor="let item of deliveryDate" [value]="item">
							{{ item }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</mat-card-content>
	</mat-card>
</section>

<section class="productInfo-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-boxes"></i></div>
			<mat-card-title>Inventory</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="product-info">

				<label>Inventory method<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill">
					<mat-select [(value)]="selectedInventoryMethod">
						<mat-option *ngFor="let item of inventoryMethod" [value]="item.value">
							{{ item.show }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="selectedInventoryMethod == 'track'">Stock quantity<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="selectedInventoryMethod == 'track'">
					<input matInput type="number" min="0" value="{{product.quantity}}">
				</mat-form-field>

				<label *ngIf="isAdvanced">Warehouse<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<mat-select [(value)]="selectedWarehouse">
						<mat-option *ngFor="let item of warehouse" [value]="item.value">
							{{ item.show }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced && selectedInventoryMethod == 'track'">Multiple warehouses<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced && selectedInventoryMethod == 'track'">
				</mat-checkbox>

				<label *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">Display availability<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='true' [color]='primaryColor' *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">
				</mat-checkbox>

				<label *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">Display stock quantity<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">
				</mat-checkbox>

				<label *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">Minimum stock qty<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">
					<input matInput type="number" min="0" value="0">
				</mat-form-field>

				<label *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">Low stock activity<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced && (selectedInventoryMethod == 'track' || selectedInventoryMethod == 'track-attr')">
					<mat-select [(value)]="selectedLowStockActivity">
						<mat-option *ngFor="let item of lowStockActivity" [value]="item.value">
							{{ item.show }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced && selectedInventoryMethod == 'track'">Notify for qty button<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="isAdvanced && selectedInventoryMethod == 'track'">
					<input matInput type="number" min="0" value="1">
				</mat-form-field>

				<label *ngIf="isAdvanced && selectedInventoryMethod == 'track'">Backorders<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced && selectedInventoryMethod == 'track'">
					<mat-select [(value)]="selectedBackorders">
						<mat-option *ngFor="let item of backorders" [value]="item.value">
							{{ item.show }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced && (selectedInventoryMethod == 'track' && selectedBackorders == 'none')">Allow back in stock subscriptions<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced && (selectedInventoryMethod == 'track' && selectedBackorders == 'none')">
				</mat-checkbox>

				<label *ngIf="isAdvanced && ((selectedInventoryMethod == 'track' && (selectedBackorders == 'none' || selectedBackorders == 'allow-2')) || selectedInventoryMethod == 'track-attr')">Product availability range<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced && ((selectedInventoryMethod == 'track' && (selectedBackorders == 'none' || selectedBackorders == 'allow-2')) || selectedInventoryMethod == 'track-attr')">
					<mat-select [(value)]="selectedPAR">
						<mat-option *ngFor="let item of productAvailabilityRange"
							[value]="item.value">
							{{ item.show }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<label *ngIf="isAdvanced">Minimum cart qty<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="isAdvanced">
					<input matInput type="number" min="1" value="1">
				</mat-form-field>

				<label *ngIf="isAdvanced">Maximum cart qty<span matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" class='number-input' *ngIf="isAdvanced">
					<input matInput type="number" min="1" value="10000">
				</mat-form-field>

				<label *ngIf="isAdvanced">Allowed quantities<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-form-field appearance="fill" *ngIf="isAdvanced">
					<input matInput>
				</mat-form-field>

				<label *ngIf="isAdvanced && selectedInventoryMethod == 'track-attr'">Allow only existing attribute combinations<span
					matTooltip="Search by specific warehouse">
					<mat-icon>help</mat-icon>
				</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced && selectedInventoryMethod == 'track-attr'">
				</mat-checkbox>

				<label *ngIf="isAdvanced">Not returnable<span
						matTooltip="Search by specific warehouse">
						<mat-icon>help</mat-icon>
					</span></label>
				<mat-checkbox [checked]='false' [color]='primaryColor' *ngIf="isAdvanced">
				</mat-checkbox>


			</div>
		</mat-card-content>
	</mat-card>
</section>

<section class="productInfo-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-image"></i></div>
			<mat-card-title>Pictures</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="table-content">
				<table>
					<tr>
						<th>Picture</th>
						<th>Display order</th>
						<th>Alt</th>
						<th>Title</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td><img id='picture-table' src="../../../assets/images/{{product.pId}}.jpeg" alt="product-picture"></td>
						<td>1</td>
						<td></td>
						<td></td>
						<td><button mat-flat-button color='accent'><i class="las la-pen"></i>Edit</button></td>
						<td><button mat-flat-button color='warn' (click)="deleteButton()"><i class="las la-trash"></i>Delete</button></td>
					</tr>
				</table>
			</div>
			<mat-paginator [length]="100" [pageSize]="10"
				[pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
			<mat-card class="card-inside">
				<mat-card-header>
					<mat-card-title>Add a new picture</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="product-info">
						<label>Picture</label>
						<button mat-flat-button class="copy-btn picture-table-btn">Upload a file</button>
						<label>Alt</label>
						<mat-form-field appearance="fill">
							<input matInput>
						</mat-form-field>
						<label>Title</label>
						<mat-form-field appearance="fill">
							<input matInput>
						</mat-form-field>
						<label>Display order</label>
						<mat-form-field appearance="fill" class='number-input'>
							<input matInput type="number" min="0" value="0">
						</mat-form-field>
						<label> </label>
						<button mat-flat-button class="save-btn picture-table-btn add-product-picture-btn">Add product picture</button>
					</div>
				</mat-card-content>
			</mat-card>
		</mat-card-content>
	</mat-card>
</section>