<div class="page-name">
  <h2>Dashboard</h2>
</div>

<div id="news">
  <mat-card class="card">
    <mat-card-header fxLayout="row">
      <div mat-card-avatar><i class="las la-newspaper"></i></div>
      <mat-card-title>BasCommerce News</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <app-news></app-news>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div id="statistics">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar><i class="las la-chart-bar"></i></div>
      <mat-card-title>Common Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <app-statistics></app-statistics>
      </div>
    </mat-card-content>
  </mat-card>
</div>
