<div class="container">
  <div id="orders" class="card">
    <div class="detail">
      <div class="meta-stat">
        <div class="value">5</div>
        <div class="name">Orders</div>
      </div>
      <div class="icon">
        <mat-icon>shopping_basket</mat-icon>
      </div>
    </div>
    <div class="button">
      <p>More info <i class="las la-arrow-circle-right"></i></p>
    </div>
  </div>
  <div id="registered" class="card">
    <div class="detail">
      <div class="meta-stat">
        <div class="value">6</div>
        <div class="name">Registered customers</div>
      </div>
      <div class="icon">
        <mat-icon>person_add</mat-icon>
      </div>
    </div>
    <div class="button">
      <p>More info <i class="las la-arrow-circle-right"></i></p>
    </div>
  </div>
  <div id="pending" class="card">
    <div class="detail">
      <div class="meta-stat">
        <div class="value">0</div>
        <div class="name">Pending return requests</div>
      </div>
      <div class="icon">
        <mat-icon>settings_backup_restore</mat-icon>
      </div>
    </div>
    <div class="button">
      <p>More info <i class="las la-arrow-circle-right"></i></p>
    </div>
  </div>
  <div id="stock" class="card">
    <div class="detail">
      <div class="meta-stat">
        <div class="value">1</div>
        <div class="name">Low stock products</div>
      </div>
      <div class="icon">
        <mat-icon>pie_chart</mat-icon>
      </div>
    </div>
    <div class="button">
      <p>More info <i class="las la-arrow-circle-right"></i></p>
    </div>
  </div>
</div>
