

.content {
	width: 100%;
	min-height: 100vh;
	background-color: #ECF0F4;
}
.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.mat-list-base {
	padding-top: 7px;
}
.mat-list-item h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #C7CACB;
}
.mat-list-item-content {
	padding-right: 20px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
	height: 40px;
}
mat-drawer {
	background-color: #343a40;
}
.expanded {
	width: 253px;
}

.search {
	background-color: #343a40;
	border-radius: 2px;
	line-height: 24px;
	font-size: 16px;
	text-align: start;
	letter-spacing: normal;
	align-items: center;
	justify-content: center;
	margin: 18px 0px 15px 18px;
	padding: 5px 30px 5px 10px;
	border: 1px solid #C7CACB;
}
.search::placeholder {
	font-family: 'Source Sans Pro', sans-serif;
	color: #C7CACB;
	font-size: 16px;
}
.search:focus {
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	width: 67%;
}

.logo-container {
	position: absolute;
	width: 100%;
	padding-bottom: 2px;
}

.menu-container {
	position: fixed;
	margin-top:57px;
	height: 91vh;
	overflow: auto;
}
.menu-container::-webkit-scrollbar {
	display: none;
}

.sub-nav h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

.logo {
	border-bottom: 1px solid rgb(97, 97, 97);
}
.logo h2 {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
mat-icon {
	color: #C7CACB;
}
.selected {
	color: white;
}
.bgSelected {
	background-color: #4A4E53;
}
.sub-nav {
	background-color: #3F4449;
}
.sub-nav h4, i {
	color: #BEC1C9;
}
.rotate {
	transform: rotate(-90deg);
	transition: all 0.2s linear;
}
.rotate-back {
	transform: rotate(0deg);
	transition: all 0.2s linear;
}
.la-angle-left:before {
	padding-left: 10px;
}

#logo {
	padding: 8px 0px;
}