.products-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.products-header {
	width: 97.5%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}
.products-header-name h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 500;
}
.products-header-button {
	text-align: right;
}
.products-header-button button {
	margin: 0px 2px;
	cursor: pointer;
}
.products-header-button span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: white;
}
.products-header-button mat-icon {
	padding: 0px 2px;
	color: white;
}

.add-new-btn {
	color: white;
	background-color: #3C8DBC;
}
.add-new-btn span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: white;
}
.download-btn {
	background-color: #5F5CA8;
}
.export-btn {
	background-color:  #28A745;
}
.import-btn {
	background-color: #3D9970;
}
.delete-btn {
	background-color: #DD4B39;
}

.add-new-btn:hover {
	background-color: #317297;
}
.download-btn:hover {
	background-color: #514f8f;
}
.export-btn:hover {
	background-color:  #1d8135;
}
.import-btn:hover {
	background-color: #327a5a;
}
.delete-btn:hover {
	background-color: #bb4130;
}

.search-box-container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.card {
	width: 95%;
	padding-bottom: 20px;
}
.card .las {
	font-size: 30px;
	padding: 5px 0px;
}

mat-card {
	padding-top: 5px;
	margin: 8px;
	border: 0;
}
mat-card-title {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
	font-size: 18px;
}
mat-card-action mat-icon {
	padding: 3px;
}
.main-search-button {
	color: white;
	background-color: #3C8DBC;
	width: 120px;
}
.main-search-button span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: white;
}
