<section class="products-header-container">
	<div class="products-header">
		<div class="products-header-name">
			<h2>Products</h2>
		</div>
		<div class="products-header-button">
			<button mat-flat-button class="add-new-btn">
				<mat-icon>add_box</mat-icon><span>Add new</span>
			</button>
			<button mat-flat-button class="download-btn">
				<mat-icon>picture_as_pdf</mat-icon><span>Download catalog as PDF</span>
			</button>
			<button mat-flat-button class="export-btn">
				<mat-icon>arrow_downward</mat-icon><span>Export</span>
			</button>
			<button mat-flat-button class="import-btn">
				<mat-icon>arrow_upward</mat-icon><span>Import</span>
			</button>
			<button mat-flat-button class="delete-btn">
				<mat-icon>delete_forever</mat-icon><span>Delete (selected)</span>
			</button>
		</div>
	</div>
</section>

<section class="search-box-container">
	<mat-card class="card">
		<mat-card-header>
			<div mat-card-avatar><i class="las la-search"></i></div>
			<mat-card-title>Search</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div>
				<app-search-form></app-search-form>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button class="main-search-button"><mat-icon>search</mat-icon><span>Search</span></button>
		</mat-card-actions>
	</mat-card>
</section>

